.ly_nav {
	width: 100%;
	overflow: hidden;
}

.un_menu-list {
	overflow: hidden;
	width: 100%;
}

.un_menu-item {
	float: left;
	width: 25%;
}

.un_menu-link {
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: $bleu-color;
	padding: 16px 0;
	color: #fff;
	transition: .2s;
	&:hover {
		background-color: $sky-bleu-color;
	}
}

@media screen and (min-width: $tb-size) {
	.un_menu-link {
		letter-spacing: 4px;
	}
}