* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
}

.ly_wrapper {
	font-family: $sawarabi-font, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}